{% extends "base.html" %}

{% block content %}
    <section class="welcome-section">
    </section>

    <section class="contact-section">
        <div class="navbar">
        </div>

        <div class="container">
            <h1>İletişim</h1>
            Benimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:<br>
            E-posta: maxbairamov.yosk@gmail.com <br>
            Telefon: +905523619101<br>
            İnstagram: brmv_17.32<br>
            Adres:   Kurtuluş mah. Yukarı aktaş sk. no:24 daire 11, Uşak, Türkiye<br>
        </div>
    </section>
{% endblock %}
